<div id="container2">
  <div class="alcoolicas">
<img src="{{Alcoolica.imagem}}" alt="Imagem do produto" id="img-bebidas">
<ul>
<ol class="text-bebidas">Nome: {{Alcoolica.nome}}</ol>
<ol class="text-bebidas">Tamanho: {{Alcoolica.tamanho}}</ol>
<ol class="text-bebidas">Preço: R$ {{Alcoolica.preco}}</ol>
<ol class="text-bebidas">Categoria: {{Alcoolica.tipo}}</ol>
</ul>
   </div>
</div>